<h2>Thông tin nhóm</h2>			
<div class="grid">
	<figure class="effect-lily">
		<img src="image/12.jpg" alt="img12"/>
		<figcaption>
		<div>
			<h3>Lại Trọng Sang </h3>
			<p>
				MSSV: 1312479<br/>
				Nhóm: One Pit									
			</p>
		</div>						
		</figcaption>			
	</figure>
	<figure class="effect-lily">
		<img src="image/1.jpg" alt="img1"/>
		<figcaption>
			<div>
				<h3>Phạm Hữu Phong</h3>
				<p>
					MSSV: 1312432 <br/>
					Nhóm: One Pit
				</p>
			</div>		
		</figcaption>			
	</figure>
</div>
<p class="myaddress"><h2>Địa chỉ</h2></p>
<div class="mymap"><script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:700px;'><div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">embed google maps</a></small></div><div><small><a href="https://buywebsitetrafficreviews.org/trafficwebsites/">find the best traffic website here!</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(10.762469,106.68262660000005),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(10.762469,106.68262660000005)});infowindow = new google.maps.InfoWindow({content:'<strong>One Pit</strong><br>227 Nguyen Van Cu, Phuong 4, Quan 5, TP.HCM<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script></div>			