<div class="">
    <a href="/"><label><font size="5"> Home </font></label></a>
    <label for="">>></label>
    <a href="/albums"><label><font size="5"> Album </font></label></a>
</div>


{{#each images}}
    <div class="col-sm-2">
        <div class="albums">
            <a href="/album/{{this.id}}"><img src="image/folder.png"></a>
            <div class="">
                <label>{{this.title}}</label>
            </div>
            <div class="">
                <label for="">view : {{this.view}}</label>
            </div>
        </div>
    </div>
{{/each}}
<!--div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="albums">
                <a href="/photos"><img src="image/folder.png" alt="albums1"> Album 1</a>
            </div>
        </div>
    </div>
</div-->
