{{#each images}}
    
{{/each}}
<h2>Albums</h2>
<div class="container">
	<div class="row">
		<div class="col-sm-3"><div class="albums">
			<a href="/photos"><img src="image/folder.png" alt="albums1"> Album 1</a>
		</div>
		</div>
		<div class="col-sm-3">
			<div class="albums">
				<a href="/photos"><img src="image/folder.png" alt="albums2">Album 2</a>	
			</div>
		</div>
		<div class="col-sm-3">
			<div class="albums">
				<a href="/photos"><img src="image/folder.png" alt="albums3">Album 3</a>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="albums">
				<a href="/photos"><img src="image/folder.png" alt="albums4">Album 4</a>
			</div>
		</div>
	</div>
</div>
		