<div class="">
	<a href="/"><label><font size="5"> Home </font></label></a>
  <label for="">>></label>
  <a href="/blogs"><label><font size="5"> Blog </font></label></a>

</div>
{{#each images}}
    <div class="">
        <div class="albums">
            <div style=" border: 1px solid #ddd;border-radius: 4px;padding: 5px;width: 150px;">
                <img src="{{this.avatar}}" alt="">
            </div>
            <div class="">
                <label for="">title : {{this.title}}</label>
            </div>
            <div class="">
                <label for="">detail : {{this.blogdetail}}</label>
            </div>
        </div>
    </div>
{{/each}}
