
			<h2>Ẩm Thực</h2>
			<div class="newProduct1">
				<p class="image"><img src="image/cake1.jpg" alt="cake1" /></p>
				<div>
					<h3><a class="news-title16-G" title="Những món ăn vặt đẹp xuất sắc, sinh ra là dành cho người sống ảo" href="http://www.24h.com.vn/am-thuc/nhung-mon-an-vat-dep-xuat-sac-sinh-ra-la-danh-cho-nguoi-song-ao-c460a866224.html">Những món ăn vặt đẹp xuất sắc.</a></h3>
					<p>Melissa Hie nổi tiếng nhờ những bức ảnh chụp đồ ăn đẹp mê li. Cùng khám phá thế giới ẩm thực qua bộ ảnh của Melissa nhé.</p>
				</div>
			<!-- / class newProduct1 --></div>
			<div class="newProduct2">
				<p class="image"><img src="image/nam1.jpg" alt="cake1" /></p>
				<div>
					<h3><a class="news-title16-G" title="Thích ăn nấm rơm không được quên những điều này" href="/am-thuc/thich-an-nam-rom-khong-duoc-quen-nhung-dieu-nay-c460a866221.html">Thích ăn nấm rơm không được quên những điều này.</a></h3>
					<p>Bạn phải biết rằng nấm rơm là loại thực phẩm tốt nhưng bạn không nên ăn quá nhiều và ăn liên tục trong thời gian dài.</p>
				</div>
			<!--/ class newProduct2--> </div>
		
		
		<ul class="thumbList">
		<h2>Giải Trí</h2>
		<li><a href="#"><img src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=http://image.phimmoi.net/film/2792/poster.small.jpg%3F_iv%3D1491270124" alt="" /></a></li>
		<li><a href="#"><img src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=http://image.phimmoi.net/film/3243/poster.small.jpg%3F_iv%3D1484474434" alt="" /></a></li>
		<li><a href="#"><img src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=http://image.phimmoi.net/film/3855/poster.small.jpg%3F_iv%3D1487306933" alt="" /></a></li>
		<li><a href="#"><img src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=http://image.phimmoi.net/film/3999/poster.small.jpg%3F_iv%3D1490900059" alt="" /></a></li>
		<li><a href="#"><img src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=http://image.phimmoi.net/film/4012/poster.small.jpg%3F_iv%3D1484057485" alt="" /></a></li>
		<li><a href="#"><img src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=http://image.phimmoi.net/film/4013/poster.small.jpg%3F_iv%3D1485004046" alt="" /></a></li>
		<li><a href="#"><img src="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&gadget=a&no_expand=1&refresh=604800&url=http://image.phimmoi.net/film/4789/poster.small.jpg%3F_iv%3D1491589715" alt="" /></a></li>
		</ul>
		