<div class="">
<a href="/"><label><font size="5"> Home </font></label></a></div>
<h2>Ẩm Thực</h2>
			<div class="container">

				<div class="row">
					<div class="col-sm-3"><div class="albums">
						<a href="#"><img src="image/a.jpg" alt="albums1"></a>
					</div>
				</div>
					<div class="col-sm-3">
						<div class="albums">
							<a href="#"><img src="image/nuong.jpg" alt="albums2"></a>	
						</div>
					</div>
					<div class="col-sm-3">
						<div class="albums">
							<a href="#"><img src="image/b.jpg" alt="albums3"></a>	
						</div>
					</div>
					<div class="col-sm-3">
						<div class="albums">
							<a href="#"><img src="image/e.jpg" alt="albums2"></a>	
						</div>
					</div>
				</div>
			</div>
		<div class="thumbList">
			<h2>Giải Trí</h2>
			<div class="container">

				<div class="row">
					<div class="col-sm-2"><div class="albums">
						<a href="#"><img src="image/hauduemattroi.jpg" alt="albums1"></a>
					</div>
				</div>
					<div class="col-sm-2">
						<div class="albums">
							<a href="#"><img src="image/one piece.jpg" alt="albums2"></a>	
						</div>
					</div>
					<div class="col-sm-2">
						<div class="albums">
							<a href="#"><img src="image/bietdi.jpg" alt="albums3"></a>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="albums">
							<a href="#"><img src="image/panda.jpg" alt="albums4"></a>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="albums">
							<a href="#"><img src="image/tayduki.jpg" alt="albums5"></a>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="albums">
							<a href="#"><img src="image/xetai.jpg" alt="albums6"></a>
						</div>
					</div>
				</div>
			</div>
		
		</div>