* {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
img {
	border: none;
	vertical-align: top;
}

#header {
	padding: 20px 20px 10px 20px;
}
/*hLeft*/
.hLeft {
	float: left;
}
.hLeft h1 {
	margin-bottom: 10px;
}
.hLeft h1 a img{
	width: 220px;
	height: 70px;
}
/*hRight*/
.hRight {
	float: right;
}
.hRight ul.hLogin {
	margin-bottom: 37px;
	text-align: right;

}
.hRight ul.hLogin li {
    display: inline;
	border-right: solid 1px #333; 
    padding: 0 5px;
}
.hRight ul.hLogin li.last  {
    border-right: none;
    padding-right: 30px;
}

/*global navigation*/
#gNav {
	clear: both;
	margin-left: 20px;
    margin-right: 20px;

}
#gNav ul li{
	border-right: solid 1px #fff;
    display: inline;
    font-size: 10;
	
}
 #gNav ul li a {
    color: #090808;
    font-weight: bold;
    text-decoration: none;
}

#gNav ul li a:hover {
     
	color: #FFFDFC;
	background-color: #FA08E5;
	 
}

/*pageBody*/
#pageBody {
	padding: 0px 20px 10px 20px;
	}
#leftMenu {
    float: left;
    width: 18%;
    
    margin-top: 30px;
    
}
#leftMenu h2 {
	
	font-size: 30px;
	margin-bottom: 0px;

}

#content {
	float: right;
	width: 82%;
}
#content h2 {
	
	font-size: 20;
	margin-left: 20px;
}
#content div.newProduct1 {
    margin-bottom: 20px;
}
#content div.newProduct1 {
    zoom: 1;
}
#content div.newProduct1 p.image {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
#content div.newProduct1 div {
	margin-top: 0px;
	margin-left: 20px;
    float: left;
    width: 260px;

}
#content div.newProduct1 div h3 {
    color: #5870e6;
    margin-bottom: 10px;
}
#content div.newProduct2 p.image {
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
#content div.newProduct2 div {
	
	margin-left: 20px;
    float: left;
    width: 260px;

}

#content div.newProduct2 div h3 {
    color: #5870e6;
    margin-bottom: 10px;
}
#content ul.thumbList {
    background: #f9f8f8;
    border: 1px solid #ebeaea;
    clear: both;
    margin-bottom: 40px;
    padding: 10px 20px;
}
#content ul.thumbList li {
    display: inline;
    padding-right: 15px;
}
#content ul.news {
    padding: 10px 0 10px 10px;
    list-style-type: square;
    color: #5B86BF;
}
#content ul.news li {
    
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-left: 20px;
}
#content ul.news li.last {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
#content ul.news li a {
    text-decoration: none;
    color: #5B86BF;
}
#content ul.news li a:hover {
    text-decoration: blink;
    color: #F9133A;
}
#content p.myaddress {
    clear: both;
}


#footer {
    clear: both;
    border-top: 1px solid #a3a2a3;
    padding: 10px;
}
#footer div.fLeft {
    float: left;
    width: 440px;
    color: #10100F;

}
#footer div.fRight {
    float: right;
    width: 530px;
}
#footer div.fRight ul {
    margin-bottom: 10px;
    text-align: right;
}
#footer div.fRight ul li {
    display: inline;
    border-right: solid 1px #333;
    padding: 0 5px;
}
#footer div.fRight ul li.last {
    border-right: none;
    padding-right: 0;
}
#footer div.fRight p {
    text-align: right;
}
#footer {
    zoom: 1;
}
#footer:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    
}
#pageBody {
    zoom: 1;
}
#pageBody:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#content div.mymap {
	margin-left: 40px;
	clear: both;
}
div.albums {
	width: 82%;
	
	float: left;
}
div.albums img {
	width: 100%;
    text-align: center;
}
.navbar-default {
  background-color: #F98E13;
  border-color: #F7ECEF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #FA08E5;
}
@media (min-width: 992px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}